<br/>
<h3 style="text-align: center;">Categoty Menu</h3>
<br/>
<div class="row">
    <div class="col-md-3">
     <button class="btn btn-primary" routerLink="/AddCategory">Add Category</button>
    </div>
    <div class="col-md-3">
     <button class="btn btn-primary" routerLink="/ListofCategories">List Of All Category</button>
    </div>
    <div class="col-md-3">
     <button class="btn btn-primary" routerLink="/DeleteCategory">Delete A Category</button>
    </div>
    <div class="col-md-3">
     <button class="btn btn-primary" routerLink="/SearchCategory">Search A Category</button>
     </div>
 </div>
 <br/>
 <hr/>
<div class="container">
    <h4 style="color: blue;">Delete A Category</h4>
    <br/>
    <div class="row">
        <div class="col-md-6">
            
                Category Id: <input formControlName='CategoryId' [(ngModel)]='catId'
                type="number"
                class="form-control" placeholder="Enter Category Id"
                />
                <br/>
                <button type="button" (click)='deleteById()'  class="btn btn-danger">Delete Category</button>
               

        </div>
        <div class="col-md-6">
            
                Category Short Code: <input formControlName='ShortCode' [(ngModel)]='catShortCode'
                type="text"
                class="form-control" placeholder="Enter Category Short Code"
                />
              
                <br/>
                <button type="button" (click)='deleteByShortCode()'  class="btn btn-danger">Delete Category</button>
               
          
        </div>
    </div>
</div>
