<br/>
<h3 style="text-align: center;">Product Menu</h3>
<hr/>
<div class="row">
   <div class="col-md-3">
    <button class="btn btn-primary" routerLink="/AddProduct">Add Product</button>
   </div>
   <div class="col-md-3">
    <button class="btn btn-primary" routerLink="/ListofProducts">List Of All Produts</button>
   </div>
   <div class="col-md-3">
    <button class="btn btn-primary" routerLink="/DeleteProduct">Delete A Product</button>
   </div>
   <div class="col-md-3">
    <button class="btn btn-primary" routerLink="/SearchProduct">Search A Product</button>
   </div>
</div>
<hr/>
<div class="row">
    <div class="col-md-3">
    <p>Filter Product By Product ID</p>
    <input type="number" [(ngModel)]='searchId' class="form-control" placeholder="Enter Product ID"/>
    </div>
    <div class="col-md-3">
    <p>Filter Product By Product Name</p>
    <input type="text" [(ngModel)]='searchName' class="form-control" placeholder="Enter Product Name"/>
    </div>
    <div class="col-md-3">
    <p>Filter Product By Short Code</p>
    <input type="text" [(ngModel)]='searchShortCode' class="form-control" placeholder="Enter Short Code"/>
    </div>
    <div class="col-md-3">
        <p>Filter Product By Price</p>
        <input type="text" [(ngModel)]='searchPrice' class="form-control" placeholder="Enter Price"/>
        </div>
</div>
<hr/>
<div class="row">
    <div class="col-md-12">
    <table class="table">
        <thead style="background-color: darkgray;">
            <tr>
                <th>
                    Product ID
                </th>
                <th>
                    Product Name
                </th>
                <th>
                    Short Code
                </th>
                <th>
                    Description
                </th>
                <th>
                    Manufacturer
                </th>
                <th>
                  Selling Price
                </th>
               <th>
                    Product Category
               </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of products | productId:searchId | productName:searchName | productShortCode:searchShortCode | productPrice:searchPrice">
                <td>{{p.ProductID}}</td>
                <td>{{p.ProductName}}</td>
                <td>{{p.ProductShortCode}}</td>
                <td>{{p.ProductDescription}}</td>
                <td>{{p.Manufacturer}}</td>
                <td>{{p.ProductPrice}}</td>
                <td>{{p.ProductCategory}}</td>
            </tr>
        </tbody>
    </table>
 </div>
</div>