<h3 style="text-align: center;color: blue;">Product Catalog</h3>
<br/>
<h5 style="text-align: center;color: blue;">Please Select any Option</h5>
<br/>
<div class="row">
   <div class="col-md-5"></div>
   <div class="col-md-7">
       <button class="btn btn-primary" routerLink="/Category">Category</button>
   </div>
</div>
<br/>
<div class="row">
   <div class="col-md-5"></div>
   <div class="col-md-7">
       <button class="btn btn-primary" routerLink="/Product">Product</button>
   </div>
</div>
<br/>

